.card {
  box-shadow: 0px 0px 40px rgba(39, 71, 78, 0.1);
  width: 329px; 
  border-radius: 20px; 
  border: 1px solid #EBF0F1;
  background: #FDFDFD;
  margin-left: auto;
  margin-right: auto;
  margin-top: 219px;
  display: flex;
  padding-left: 38px;
  padding-top: 27px;
  padding-bottom: 27px;
  box-sizing: border-box;
}


.text1 {
  color: #496970;
font-family: Saira Condensed;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 87.5% */
text-transform: uppercase;
}

.text2 {
  color: #27474E;
font-family: Asap;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: 23px; /* 100% */
}

.box1 {
  margin-top: 20px;
  margin-bottom: 27px;
}

.stepper {
  margin-right: 19px;
  padding-top: 30px;
}

.check {
  padding-left: 7px;
  display: block;
}

.nocheck {
  padding-top: 45px;
}